#Banco de dados
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

#Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

#App
NEXT_PUBLIC_APP_URL=

#GitHub OAuth
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

#pgadmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
